# Logs
logs
*.log
npm-debug.log*
pnpm-debug.log*


node_modules
dist
dist-ssr
*.local
.env
build/
*.tgz
.DS_Store


# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Ignorar archivos de cobertura de pruebas (Jest)
coverage/